Repository tjbrockmeyer/linkbot-x: changes, and which Drone steps are due for each by the changed paths.
All: test, build

.drone.yml:

---
kind: pipeline
name: test and build
type: docker
trigger:
  ref:
    - refs/heads/master
    - refs/tags/v*
  event:
    - push
    - tag
steps:
  - name: test
    image: node:18.15.0
    commands:
      - npm ci
      - npm run test:ci
    when:
      paths:
        - 'package*.json'
        - 'tsconfig.json'
        - 'src/**/*.ts'
        - '.config.json'
  - &build 
    name: build
    image: plugins/docker
    settings:
      repo: cr.teabee.dev/linkbot
      tags: ${DRONE_TAG:-latest}
      dockerfile: docker/Dockerfile
      cache_from: cr.teabee.dev/linkbot:latest
    when:
      branch:
        - master
      paths:
        - 'package*.json'
        - 'tsconfig.json'
        - 'src/**/*.ts'
        - '.config.json'
        - 'docker/Dockerfile'
  - <<: *build
    when:
      event:
        - tag

---
kind: pipeline
name: deploy
type: docker
trigger:
  event:
    - promote
    - rollback
  target:
    - production
steps:
  - name: copy compose file
    image: appleboy/drone-scp:1.6.6
    settings:
      host: teabee.dev
      username: tyler
      key:
        from_secret: sshKey
      passphrase:
        from_secret: sshKeyPassphrase
      source: docker/compose.home-server.yml
      target: /home/tyler/lab/deployments/linkbot.yml
      overwrite: true
  - name: deploy
    image: appleboy/drone-ssh:1.6.10
    settings:
      host: teabee.dev
      username: tyler
      key:
        from_secret: sshKey
      passphrase:
        from_secret: sshKeyPassphrase
      script:
        - cd /home/tyler/lab/deployments/
        - LINKBOT_VERSION=${DRONE_TAG:?} docker compose -p linkbot -f linkbot.yml up -d

fix drone pipeline errors
  .drone.yml
Due: none

fix drone deployment
  .drone.yml
Due: none

adjust error message for missing tag in deployment
  .drone.yml
Due: none

prevent deploying non-tags
  .drone.yml
Due: none

fix triggers for tagged builds
  .drone.yml
Due: none

add separate pipeline for tags
  .drone.yml
Due: none

finish deployment?
  .drone.yml
Due: none

finish deployment again...
  .drone.yml
Due: none

fix db url in home-server compose file
  docker/compose.home-server.yml
Due: none

utilize templates for drone pipelines
  .drone.yml
  docker/compose.home-server.yml
Due: none

fix type->event property in templates
  .drone.yml
Due: none

remove required.env
  docker/required.env
Due: none

update repo for image
  docker/compose.home-server.yml
Due: none

revert templates for push and tag events
  .drone.yml
Due: none

switch to drone templates
  .drone.yml
Due: none

change config to non-async, fix date tests
  .config.json
  src/bot/actions/adminActions.spec.ts
  src/bot/actions/adminActions.ts
  src/config.ts
  src/database/index.ts
  src/index.ts
  src/testUtils/data.ts
  src/testUtils/setup.ts
  src/utils/date.spec.ts
  src/utils/dates.ts
Due: test, build

fix date tests
  src/utils/date.spec.ts
Due: test, build

remove .config.json from Dockerfile
  docker/Dockerfile
Due: build

remove date console logs
  src/utils/dates.ts
Due: test, build

remove anchor from template yaml
  .drone.yml
Due: none

test no template
  .drone.yml
Due: none

revert back to templates
  .drone.yml
Due: none

change template version
  .drone.yml
Due: none

fix for drone templates (only one template allowed per file)
  .drone.yml
Due: none

add paths for test_and_build
  .drone.yml
Due: none

test workflow triggers
  src/config.ts
Due: test, build

test pipeline trigger
  src/backgroundProcesses.spec.ts
Due: test, build

test pipeline trigger
  docker/Dockerfile
Due: build

Update readme.md
  readme.md
Due: none

update compose file with new env vars
  docker/compose.home-server.yml
Due: none
